html {
  border: 10px solid #673AB7;
  padding: 10px;
}

head,
title,
link,
title,
meta,
style,
script {
  display: block;
  font: 14px/1.5 Consolas,monaco,monospace;
  z-index: 999999;
  background: #673AB7;
  color: #FFF;
  padding: 3px 6px;
  border-radius: 3px;
  margin: 2px 10px;
}

head {
  position: relative;
  padding: 32px 0;
  margin: 0;
  background: transparent;
  color: #673AB7;
}
head:before, head:after {
  display: block;
  content: '<head>';
  position: absolute;
  background: #673AB7;
  color: #FFF;
  padding: 3px 6px;
  border-radius: 3px;
  margin: 2px 10px;
}
head:before {
  content: '<head>';
  top: 0;
  left: 0;
}
head:after {
  content: '</head>';
  bottom: 0;
  left: 0;
}

meta {
  background-color: #9C27B0;
}
meta::after {
  content: '<meta ... />';
}
meta[charset]::after {
  content: '<meta charset="' attr(charset) '">';
}
meta[http-equiv][content]::after {
  content: '<meta http-equiv="' attr(http-equiv) '" content="' attr(content) '">';
}
meta[name][content]::after {
  content: '<meta name="' attr(name) '" content="' attr(content) '">';
}
meta[property][content]::after {
  content: '<meta property="' attr(property) '" content="' attr(content) '">';
}

title {
  font-size: 26px;
  font-weight: bold;
}

link {
  background-color: #E91E63;
}
link[rel] {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
link[rel]:not([src]):before {
  content: '<link>';
}
link[rel][href]:before {
  content: '<link rel="' attr(rel) '" href="' attr(href) '">';
}
link:after {
  content: '</link>';
}

script {
  background-color: #ff9800;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
script:not([src]):before {
  content: '<script>';
}
script[src]:before {
  content: '<script src="' attr(src) '">';
}
script:after {
  content: '</script>';
}

style {
  background-color: #FF5722;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
style:not([src]):before {
  content: "<st" "yle>";
}
style[src]:before {
  content: '<style src="' attr(src) '">';
}
style:after {
  content: "</st" "yle>";
}
