$color: #673AB7;
$color-meta: #9C27B0;
$color-link: #E91E63;
$color-style: #FF5722;
$color-script: #ff9800;

html{
  border: 10px solid $color;
  padding: 10px;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin tag($c: $color){
  
  background: $c;
  color: #FFF;
  //padding: 3px 25px 3px 6px;
  padding: 3px 6px;
  border-radius: 3px;
  margin: 2px 10px;
  
}

head,
title,
link,
title,
meta,
style,
script{
  display: block;
  font: 14px/1.5 Consolas,monaco,monospace;
  z-index: 999999;
  //@include clearfix();
  @include tag();
}

head{
  position: relative;
  padding: 32px 0;
  margin: 0;
  background: transparent;
  color: $color;

  
  &:before,
  &:after{
    display: block;
    content: '<head>';
    position: absolute;
    @include tag();
  }

  &:before{
    content: '<head>';
    top:0; left: 0;
  }

  &:after{
    content: '</head>';
    bottom: 0;
    left: 0;
  }  
  
}



meta{

  background-color: $color-meta;
    
  &::after{
    content: '<meta ... />';  
  }
  
  &[charset]::after{
    content: '<meta charset="' attr(charset) '">';
  }
  
  &[name][content]::after{
    content: '<meta name="' attr(name) '" content="' attr(content) '">';
  }

  &[property][content]::after{
    content: '<meta property="' attr(property) '" content="' attr(content) '">';
  }
  
}

title {
  font-size: 26px;
  font-weight: bold;
}


link{
  
  background-color: $color-link;
  
  &[rel]{
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &[rel]:not([src]):before {
    content: '<link>';
  }
  &[rel][href]:before {
    content: '<link rel="' attr(rel) '" href="' attr(href) '">';
  }
  &:after{
    content: '</link>';
  }

}

script{
  
  background-color: $color-script;
  
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  
  &:not([src]):before {
    content: '<script>';
  }
  &[src]:before {
    content: '<script src="' attr(src) '">';
  }
  &:after {
    content: '</script>';
  }
  
}


style{
  
  background-color: $color-style;
  
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  
  &:not([src]):before {
    content: '<st''yle>';
  }
  &[src]:before {
    content: '<style src="' attr(src) '">';
  }

  &:after {
    content: '</st''yle>';
  }
  
}
